* {
    background-color: #B1A1E2;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


header {
background-color: #B1A1E2;
  height: 50px;
  display: flex;
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%;     
  z-index: 1000;
  justify-content: space-between;
}

li {
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.navbar ul li a:hover {
  color: rgb(68, 5, 68);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}

.hamburguesa {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


#Inicio {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: larger;
  margin-top: 50px;
  margin-bottom: 70px;
}

#SobreMi {
  background-color: #dccfec;
}

h2 {
  font-size: xx-large;
  font-style: oblique;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: #dccfec; 
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
 } 
   
  p {
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  font-family: serif;
  color: rgb(0, 0, 0);
  background-color: #dccfec;
  justify-content: baseline;
  font-family: sans-serif;
  }

  p a {
    background-color: #dccfec;
    color: rgb(135, 31, 255);
  }

.slider-wrapper {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 200px;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 1px 2px 3px 4px hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
}

.image {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 45%;
  translate: translateX(-50%);
  z-index: 1;
}

.slider-button {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
  border-radius: 50%;
}

.slider-button:hover {
  opacity: 100;
}

#Contáctame {
  padding: 40px;
  margin-top: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #dccfec;
}


form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#B1A1E2;
}

form label{
	width:72px;
	font-weight:bold;
  font-family: sans-serif;
  background-color: #B1A1E2;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid white;
	border-radius:3px;
	background-color:white;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:white;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #ffffff;
	border-radius:3px;
	background-color:#ffffff;			
	margin:8px 0;
	resize:none;
	display:block;
}

/* Estilos para pantallas pequeñas (móviles) */
@media(max-width:500px) {
  body {
    font-size: 15px;
  }
  header {
    height: 50px;
    background-color: #dccfec;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;
  }
  .hamburguesa {
      display: block;
      position: fixed;
      background-color: #dccfec;
  }

  .hamburguesa.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburguesa.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburguesa.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
      position: fixed; 
      left: -100%;
      top: 50px;
      gap: 0;
      flex-direction: column;
      background-color: #dccfec;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  .navbar{
    background-color: #dccfec;
    height: 50px;
  }

  .nav-link {
      margin: 16px 0;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item{
    background-color: #dccfec;
    font-family: sans-serif;
    font-size: larger;
    padding: 20px;
   }
  
   .nav-item a{
    background-color: #dccfec;
   }
   
   .slider-nav {
    background-color: #dccfec;
   }
  }
  
/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 408px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }

  header {
    background-color: #dccfec;
    height: 50px;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;
  }

  .hamburguesa {
    display: block;
    position: fixed;
    background-color: #dccfec;
}

.hamburguesa.active .bar:nth-child(2){
    opacity: 0;
}
.hamburguesa.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburguesa.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
    position: fixed; 
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: #dccfec;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navbar{
  background-color: #dccfec;
  height: 50px;
}

.nav-link {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}
 .nav-item{
  background-color: #dccfec;
  font-family: sans-serif;
  font-size: larger;
  padding: 20px;
 }

 .nav-item a{
  background-color: #dccfec;
 }

}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
  body {
    font-size: 16px;
    font-family: sans-serif;
  }

  header {
    height: 50px;
    width: 100%;
  }
}
p a {
  background-color: #dccfec;
  color: rgb(135, 31, 255);
  
}

#SobreMi {
  font-family: sans-serif;
}

.container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
